.list {
  color: #3c3c3c; 
  /* set color of list item text */

  list-style: none; 
}

 .list::before {
  color: white;  
  /* color of bullet or square */

  content: "\2022"; 
  /* Unicode of character to precede the list item */

  font-size: 1em; 
  /* em or %*/
 
  padding-right: 1.1225em; 
  /* use em*/

  position: relative;
  top: 0em; 
  /* use em or % */

}


body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#1B3B50;
    overflow-x: hidden;
    padding-top: 20px;

}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 400px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}